#slider{
	position: relative;
	width: 1000px;
	height: 400px;
	overflow: hidden;
	margin: 30px auto;
	border-radius: 5px;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.20);
}
/* 轮播图片 */
#slider-img img{
	position: absolute;
	z-index: 1;
}
#slider-img a{
	font-family: "华文新魏","Helvetica","Arial",sans-serif;
	background-color: rgba(0,0,0,0.6);
	transition: background-color 0.5s;
	color: #FFF;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
	padding: 5px 20px;
	line-height: 1.5em;
	display: block;
	position: absolute;
	z-index: 3;
}
#slider-img a:hover{
	background-color: rgba(0,0,0,0.7);
}
/* 轮播上一页/下一页 */
#pre,#next{
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	font-size: 4em;
	color: #AAA;
	position: absolute;
	top: 175px;
	z-index: 4;
}
#pre{
	transition: background-color 0.2s, color 0.2s, left 0.3s
}
#next{
	transition: background-color 0.2s, color 0.2s, right 0.3s;
}
#pre:hover,
#next:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
}
#pre .arrow,
#next .arrow{
	position: absolute;
	top: 7px;
}
#pre .arrow{
	left: 10px;
}
#next .arrow{
	right: 8px;
}
/* 轮播导航点 */
#slider-dot{
	position: absolute;
	left: 50%;
	bottom: 30px;
	z-index: 2;
}
#slider-dot span{
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-left: 12px;
}
#slider-dot span:hover{
	cursor: pointer;
}
#slider-dot span.unactive{
	background-color: #FFF;
}
#slider-dot span.active{
	background-color: #69aaec;
}